body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

:root {
  --main-bg-color: brown;
}

.search-container-submit {
  float: right;
  margin-top: 4%;
}

.plyr__video-embed {
  height: 500px;
  width: 100%;
}

.notes_taker_text {
  height: 500px;
  width: 50%;
  right: 100px;
  margin-left: 52%;
  margin-top: 50px;
}

.plyr_snapshot_player {
  height: 500px;
  width: 50%;
  float: left;
  margin-top: 50px;
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196f3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type="text"] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.topnav .search-container {
  float: left;
}
